<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">  

	<!-- <context:component-scan base-package="org.prannoy.springcore"></context:component-scan> -->
	<context:annotation-config />

	<bean id="laptop" class="org.prannoy.springcore.model.Laptop">
		<property name = "count" value = "2"/>
		<property name = "name" value = "Matt"/>
	</bean>
	<bean id="laptop2" class="org.prannoy.springcore.model.Laptop">
		<property name = "count" value = "3"/>
		<property name = "name" value = "Boopathy"/>
	</bean>
	<bean id="dellHardDrive" class="org.prannoy.springcore.serivceImpl.DellHardDrive"></bean>
	<bean id="seagateHardDrive" class="org.prannoy.springcore.serivceImpl.SeagateHardDrive"></bean> 

</beans>