<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Archetype Created Web Application</display-name>

  

    <servlet>
      <servlet-name>sendToLogin</servlet-name>
      <servlet-class>LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>sendToLogin</servlet-name>
      <url-pattern>/loginPage</url-pattern>
    </servlet-mapping>

     <servlet>
      <servlet-name>sendToHome</servlet-name>
      <servlet-class>HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>sendToHome</servlet-name>
      <url-pattern>/homePage</url-pattern>
    </servlet-mapping>

  
  </web-app>
